<% content_for :js do %>
  <%= javascript_import_module_tag "custom/bar_chart" %>
<% end %>

<div id="months" data-json="<%= @months.to_json %>"></div>
<div id="back_chart" data-json="<%= @back_chart.to_json %>"></div>
<div id="front_chart" data-json="<%= @front_chart.to_json %>"></div>
<div id="infra_chart" data-json="<%= @infra_chart.to_json %>"></div>
<% provide(:title, "Home") %>
<div class="center">
  <div class="container">
    <div class="img">
      <%= image_tag '85340511.png' %>
    </div>
    <div class="introduce">
      <h2><span>自己紹介</span></h2>
      <p class="fake">ログインして、自己紹介文と画像を登録しましょう！</p>
    </div>
  </div>
  <div class="skillchart">
    <h2><span>スキルチャート</span></h2>
    <div class="chart">
      <div style="display: block; box-sizing: border-box; height: 500px; width: 1064px; margin-left: 20px;">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>
