<% provide(:title, "スキル編集") %>

<% content_for :modal_success do %>
  <h3><%= flash[:success] %></h3>
<% end %>

<% content_for :modal_danger do %>
  <h3><%= flash[:danger] %></h3>
<% end %>

<% content_for :modal_notice do %>
  <h3><%= flash[:notice] %></h3>
<% end %>

<section id="modalArea" class="modalArea">
  <div class="modalBg"></div>
  <div class="modalWrapper">
    <div class="modalContents">
      <% if flash[:success].present? %>
        <%= yield(:modal_success) %>
      <% end %>
      <% if flash[:danger].present? %>
        <%= yield(:modal_danger) %>
      <% end %>
      <% if flash[:notice].present? %>
        <%= yield(:modal_notice) %>
      <% end %>
    </div>
    <div id="closeModal" class="closeModal">
      <button>スキル編集ページに戻る</button>
    </div>
  </div>
</section>

<div class="skill-index">
  <% @categories.each do |category| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= category.name %></h3>
        <%= link_to "スキルを追加する", 
            new_skill_path(category_name: category.name, 
                            category_id: category.id), class: "skill-add" %>
      </div>
      <% unless category.skills.empty? %>
        <table class="table">
          <div class="thead">
            <tr>
              <th class="th-name">習得スキル</th>
              <th class="th-level">習得レベル</th>
            </tr>
          </div>
          <% category.skills.each do |skill| %>
            <div class="tbody">
              <tr>
                <% if skill.updated_at.between?(Time.current.beginning_of_month, Time.current.end_of_month)%>
                  <th style="vertical-align: middle" class="th-name"><%= skill.name %></th>
                  <%= form_with(model: skill, method: "patch", local: true) do |f| %>
                    <th style="vertical-align: middle" class="th-level">
                      <%= f.select :level, (1..100), { selected: "#{skill.level}" }, class: "level-number", id: "skill_level_#{skill.id}" %>
                      <i class="fa-solid fa-caret-down"></i>
                    </th>
                    <th style="vertical-align: middle" class="th-save">
                      <%= f.submit "習得レベルを保存する", class: "level-save" %>
                    </th>
                  <% end %>
                  <th style="vertical-align: middle" class="th-delete">
                    <%= button_to "スキルを削除する", skill_path(skill.id), method: :delete, class: 'level-delete' %>
                  </th>
                <% else %>
                  <% if !category.skills.group(:name).count.to_a.select { |skill| skill[1] >= 2 }.any? %> 
                    <th style="vertical-align: middle" class="th-name"><%= skill.name %></th>
                    <%= form_with(model: @skill, method: "post") do |f| %>
                      <th style="vertical-align: middle" class="th-level">
                        <%= f.select :level, (1..100), { selected: "#{skill.level}" }, class: "level-number", id: "skill_level_#{skill.id}" %>
                        <i class="fa-solid fa-caret-down"></i>
                      </th>
                        <%= f.hidden_field :name, :value => skill.name %>
                        <%= f.hidden_field :category_id, :value => skill.category_id %>
                      <th style="vertical-align: middle" class="th-save">
                        <%= f.submit "習得レベルを保存する", class: "level-save" %>
                      </th>
                    <% end %>
                    <th style="vertical-align: middle" class="th-delete">
                      <%= button_to "スキルを削除する", skill_path(skill.id), method: :delete, class: 'level-delete' %>
                    </th>
                  <% end %>
                <% end %>
              </tr>
            </div>
          <% end %>
        </table>
      <% end %>
    </div>
  <% end %>
</div>